example-mule3-ignite-connector/src/main/app/queries.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:json="http://www.mulesoft.org/schema/mule/json" 
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" 
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:apache-ignite="http://www.mulesoft.org/schema/mule/apache-ignite"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apache-ignite http://www.mulesoft.org/schema/mule/apache-ignite/current/mule-apache-ignite.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">

	<flow name="queriesGetPoiByID"  >
		<http:listener doc:name="Listener"  config-ref="HTTP_Listener_config" path="/queries/pois/{ID}" allowedMethods="GET">
		 	<http:response-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:response-builder>
		</http:listener>
        <apache-ignite:query-sql config-ref="Apache_Ignite_Config" sqlQuery="SELECT id,  countryCode,  public.hkmv_text(name, ?, public.HKMV_DEFAULT_ISO(name)) as name, public.hkmv_text(description, ?, public.HKMV_DEFAULT_ISO(description)) as description, public.hkmv_text(name, 'iata', null) as iata  FROM &quot;pois&quot;.poi  WHERE id = ?" queryParams-ref="#[[message.inboundProperties['http.query.params'].lang, message.inboundProperties['http.query.params'].lang, message.inboundProperties['http.uri.params'].ID]]" doc:name="create sqlQuery"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
	</flow>
	<flow name="queriesDeletePoiByID"  >
		<http:listener doc:name="Listener"  config-ref="HTTP_Listener_config" allowedMethods="DELETE" path="/queries/pois/{ID}">
		 	<http:response-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:response-builder>
		</http:listener>		
		<apache-ignite:query-sql doc:name="create sqlQuery"  config-ref="Apache_Ignite_Config" queryParams-ref="#[[message.inboundProperties['http.uri.params'].ID]]" sqlQuery="DELETE &quot;pois&quot;.poi 
WHERE id = ?">
		</apache-ignite:query-sql>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
	</flow>
	<flow name="queriesGetPoisByGeoSearch"  >
		<http:listener doc:name="Listener"  config-ref="HTTP_Listener_config" path="/queries/pois/sqlGeoSearch" allowedMethods="GET">
		 	<http:response-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:response-builder>
		</http:listener>		
        <scripting:transformer doc:name="create luceneQuery">
            <scripting:script engine="Groovy"><![CDATA[import static org.hawkore.ignite.lucene.builder.Builder.geoDistance; 
import static org.hawkore.ignite.lucene.builder.Builder.search;

return search().refresh(true)
            .filter(geoDistance("place", 40.416775, -3.703790, message.getInboundProperty('http.query.params').radius))
            .sort(geoDistance("place", 40.416775, -3.703790)).build();]]></scripting:script>
        </scripting:transformer>
        <set-variable variableName="luceneQuery" value="#[payload]" doc:name="set variable luceneQuery"/>
        <apache-ignite:cache-scope key-ref="#[&quot;sql search &quot; + flowVars.luceneQuery + message.inboundProperties['http.query.params'].lang]" strategy-ref="Cache_scope_strategy" doc:name="Cache - Scope">
            <apache-ignite:query-sql config-ref="Apache_Ignite_Config" sqlQuery="SELECT id, countryCode, public.hkmv_text(name, ?, public.HKMV_DEFAULT_ISO(name)) as name, public.hkmv_text(description, ?, public.HKMV_DEFAULT_ISO(description)) as description, public.hkmv_text(name, 'iata', null) as iata, PUBLIC.ST_DISTANCE_SPHERE(place, 'POINT (-3.703790 40.416775)')/1000 as distance_km FROM &quot;pois&quot;.poi  WHERE lucene = ?" queryParams-ref="#[[message.inboundProperties['http.query.params'].lang, message.inboundProperties['http.query.params'].lang, flowVars.luceneQuery]]" doc:name="Query - SQL">
                <apache-ignite:page pageSize="#[message.inboundProperties['http.query.params'].limit]" pageNumber="#[message.inboundProperties['http.query.params'].pageNumber]"/>
            </apache-ignite:query-sql>
        </apache-ignite:cache-scope>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
	</flow>
	<flow name="queriesGetPoisByTextSql"  >
		<http:listener doc:name="Listener"  config-ref="HTTP_Listener_config" allowedMethods="GET" path="/queries/pois/sqlSearch">
            <http:response-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:response-builder>
		</http:listener>
		<apache-ignite:cache-scope doc:name="Cache - scope"  key-ref="#['sql search ' + message.inboundProperties['http.query.params'].query + message.inboundProperties['http.query.params'].lang]" strategy-ref="Cache_scope_strategy">
			<apache-ignite:query-sql doc:name="Query - SQL"  config-ref="Apache_Ignite_Config" queryParams-ref="#[[message.inboundProperties['http.query.params'].lang, message.inboundProperties['http.query.params'].lang, message.inboundProperties['http.query.params'].query]]" sqlQuery="SELECT id,
countryCode,
public.hkmv_text(name, ?, public.HKMV_DEFAULT_ISO(name)) as name,
public.hkmv_text(description, ?, public.HKMV_DEFAULT_ISO(description)) as description,
public.hkmv_text(name, 'iata', null) as iata
FROM &quot;pois&quot;.poi
WHERE lucene = ?">
			<apache-ignite:page pageNumber="#[message.inboundProperties['http.query.params'].pageNumber]" pageSize="#[message.inboundProperties['http.query.params'].limit]" />
		</apache-ignite:query-sql>
        <json:object-to-json-transformer doc:name="Sample caching JSON String"/>
		</apache-ignite:cache-scope>
	</flow>
	<flow name="queriesGetPoisByTextText"  >
		<http:listener doc:name="Listener"  config-ref="HTTP_Listener_config" allowedMethods="GET" path="/queries/pois/textSearch">
		 	<http:response-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:response-builder>
		</http:listener>		
		<apache-ignite:cache-scope doc:name="Cache - scope"  key-ref="#['text search ' + message.inboundProperties['http.query.params'].query]" strategy-ref="Cache_scope_strategy">
            <apache-ignite:query-lucene config-ref="Apache_Ignite_Config" tableId="&quot;pois&quot;.poi" luceneQuery="#[message.inboundProperties['http.query.params'].query]" maxResults="#[message.inboundProperties['http.query.params'].limit]" doc:name="Query - Lucene"/>
		</apache-ignite:cache-scope>
        <scripting:transformer doc:name="Object To JSON">
            <scripting:script engine="Groovy"><![CDATA[return com.hawkore.ignite.cache.serialization.serializers.SerializationManager.toJson(message.payload)]]></scripting:script>
        </scripting:transformer>
	</flow>
</mule>
