example-mule3-ignite-connector/src/main/app/queues.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:json="http://www.mulesoft.org/schema/mule/json" 
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" 
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:apache-ignite="http://www.mulesoft.org/schema/mule/apache-ignite"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apache-ignite http://www.mulesoft.org/schema/mule/apache-ignite/current/mule-apache-ignite.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">


	<flow name="QUEUE1_Listener"  >
		<apache-ignite:queue-listener queue="QUEUE1" doc:name="Queue - listener - QUEUE1"  config-ref="Apache_Ignite_Config"/>
		<logger level="INFO" doc:name="Just log receive message"  message='#["Message receive on QUEUE1: " + payload]'/>
		<set-payload value='#["process reveived message on QUEUE1: " + payload]' doc:name="Set Payload"  />
	</flow>
	<flow name="QUEUE2_Listener"  >
		<apache-ignite:queue-listener queue="QUEUE2" doc:name="Queue - listener - QUEUE2"  config-ref="Apache_Ignite_Config"/>
		<apache-ignite:cache-put cache="CACHE2" doc:name="Cache - Put Entity on CACHE2"  config-ref="Apache_Ignite_Config" key-ref="#[payload.key]" value-ref="#[payload.data]"/>
	</flow>
	<flow name="QueueDataIngestion"  >
		<http:listener doc:name="Listener"  config-ref="HTTP_Listener_config" path="/queues/ingestEntities"/>
		<set-variable value="2" doc:name="numberOfIngesters"  variableName="numberOfIngesters"/>
        <set-variable variableName="entitiesProvider" value="#[groovy: return new com.hawkore.ignite.connector.examples.dataproviders.EntityProvider(Integer.parseInt(message.getInboundProperty('http.query.params').count), Integer.parseInt(message.getInboundProperty('http.query.params').initialId), Integer.parseInt(flowVars.numberOfIngesters))]" doc:name="create Entity provider"/>
		<apache-ignite:queue-ingest-data queue="QUEUE2" doc:name="Queue - Ingest data into QUEUE2"  config-ref="Apache_Ignite_Config" dataProvider-ref="#[flowVars.entitiesProvider]" numberOfIngesters="#[flowVars.numberOfIngesters]"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
	</flow>
	<flow name="queuesFlow"  >
		<http:listener doc:name="Listener"  config-ref="HTTP_Listener_config" path="/queues/publish"/>
		<apache-ignite:queue-publish queue="QUEUE1" doc:name="Queue - publish to QUEUE1"  config-ref="Apache_Ignite_Config" item-ref="#[message.inboundProperties['http.query.params'].message]"/>
	</flow>
	<flow name="queuesFlow1"  >
		<http:listener doc:name="Listener"  config-ref="HTTP_Listener_config" path="/queues/publishConsume"/>
		<apache-ignite:queue-publish-consume queue="QUEUE1" doc:name="Queue - publish and consume a message to/from QUEUE1"  config-ref="Apache_Ignite_Config" item-ref="#[message.inboundProperties['http.query.params'].message]"/>
	</flow>
</mule>
